.film-panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* margin: 20px 20px; */
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "i i i i i" "d d d d d";
}

.film-panel .banner-film {
    grid-area: i;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.banner-film img {
    max-width: 80%;
}

.panel-content {
    grid-area: d;
    padding: 10px 20px;
}

.panel-content h4 {
    font-size: 20pt;
    margin: 10px 0;
}

.panel-content p {
    padding: 15px 0;
}

@media (min-width: 768px) {
    .film-panel {
        grid-template-areas: "i i d d d";
    }
}